<%= link_to 'Back to all List', '/' %>

<h1 xmlns="http://www.w3.org/1999/html">Create a new game</h1>
<form method="POST" action="/game">
  <div>Local Player: </div>
  <ul class="unstyled">
    <% @players.each do |player| %>
        <li><%= radio_button("local_player", "id", player.id)%> <%= player.name %></li>
    <% end %>
  </ul>
  <div>Away Player: </div>
  <ul class="unstyled">
    <% @players.each do |player| %>
        <li><%= radio_button("away_player", "id", player.id) %> <%=  player.name %></li>
    <% end %>
  </ul>

  <input type="submit" class="btn" value="Create" />
</form>

