<h1>All players</h1>
<% if @players.size == 0  %>
    <div>There are no players</div>
<% else %>
    <div class="well">
        <%= @players.size %> Players:
        <% @players.each do |p| %>
            <div>
             <span><%= link_to p.name, p %></span>
            </div>
        <% end %>
    </div>

    <div class="clearfix"></div>

    <div class="navbar">
      <%= link_to 'Create a new player', '/player/new', :class => "btn" %>
    </div>
<% end %>

<h1>All games</h1>
<% if @games.size == 0  %>
    <div>There are no games</div>
<% else %>
    <div class="well">
        <%= @games.size %> Games:
        <% @games.each do |g| %>
            <div>
             <span><%= link_to g.local_player.name+' vs '+g.away_player.name, g %></span>
            </div>
        <% end %>
    </div>

    <div class="clearfix"></div>

    <div class="navbar">
      <%= link_to 'Create a new game', '/game/new', :class => "btn" %>
    </div>
<% end %>
